.project-grid-list {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 18px;

    @media only screen and (min-width : 1080px) {
        grid-template-columns: repeat(2, 32rem);
        column-gap: 16px;
        row-gap: 16px;
    }
}