@import './HeaderContentDesktop/headerContentDesktop.scss';
@import './HeaderMapDesktop/headerMapDesktop.scss';

.project-list-btn-desktop {
    position: absolute;
    top: 42rem;
    width: 100%;
} 